# Python pycache klasörlerini ve içeriklerini yok say
__pycache__/
*.py[cod]

# Virtual Environment (sanal ortam) klasörlerini yok say
env/
venv/
*.env

# IDE ve diğer geçici dosyalar
.vs/
*.user
*.suo
*.cache
*.log
.idea/
.vscode/

# Log dosyaları
*.log

# Derleme dosyaları
bin/
obj/
*.exe
*.dll
*.pdb
